<div class="project">
  <h1 class="title"><%= @project.title %></h1>
  <hr>
  <div class="description"><%= @project.description %></div>
  <div class="link"><%= @project.link %></div>
  <div class="project-metadata">
    <span class="date"><%= @project.formatted_created_at %></span>
  </div>
</div>
