<div class="articles">
  <h1>Blog</h1>
    <% @articles.each do |article| %>
      <div class="article">
        <div class="article_#{article.id}">
          <%= link_to article_path(article), action: 'go' do %>
            <h3 class="title"><%= article.title %></h3>
            <div class="description"><%= article.description %></div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
