<br>
<div>Valerie Trudell</div>
<hr>
<br>
<div>
  <a href="mailto:valedithat@pm.me">Mail</a>
</div>
<br>
<div>
  <a href="https://github.com/valedithat">GitHub</a>
</div>
<br>
<div>
  <a href="https://valedithat.herokuapp.com/">Website</a>
</div>
<br>
<div>
    <a href="https://www.linkedin.com/in/valerie-trudell">Linkedin</a>
</div>
<br>
<div>location: San Jose, CA</div>
<br>
