<% if current_admin %>
  <div><%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %></div>
<% else %>
  <div><%= link_to 'Sign up', new_admin_registration_path %></div>
  <div><%= link_to 'Sign In', admin_session_path %></div>
<% end %>
