
#wrapper {
  font-weight: 22px;
  margin-left: 248px;
  width: 80%;
}

body {
  font-size: 89%;
}

#header {
  background-image: url("black_on_white_box_ontop_box.gif");
  background-repeat: no-repeat;
  background-size:  cover;
  color: white;
  display: block;
  width: 25%;
  max-width: 248px;
  min-width: 248px;
  height: 100%;
  z-index: 9000;
  position: fixed;
  left: 0; */
}

#header h1 {
  display: block;
  padding: 3px 30px 50px 30px;
  font-size: 32px;
}

#header ul.tabs {
  padding-left: 25px;
  display: block;
}

#header ul.tabs > li {
  font-size: 17px;
}

#tabs.header-item.tabs {
  height: 72%;
}

.menu_item {
  padding: 3px 80px 37px 3px;
}

#header #utility_nav {
  display: block;
  padding: 3px 24% 37px 3px;
}

#current_user {
  display: block;
  padding: 3px 80% 37px 22px;
}

#logout {
  display: block;
  padding: 3px 90% 37px 22px;
}

#header #utility_nav li {
  display: block;
}

#title_bar {
  display: block;
  width: 100%;
  margin: 0 0 0 1%;
}

#title_bar #titlebar_left, #title_bar #titlebar_right{
  display: block;
  padding: 10px;
  text-align: left;
}

.flash, .flash_notice {
  display: block;
  width: 100%;
  margin: 0 0 0 1%;
}

#active_admin_content {
  margin-left: 1%;
  margin-top: 1%;
}
