/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */

/* black: #0a0a0a */
/* gray: #8c8c8c */
/* green: #004d00; */

body {
  background-image: url("black_on_white_box_ontop_box.gif");
  background-repeat: no-repeat;
  background-size:  cover;
  width: 100%;
  color: #7cb429;
}

.left {
  margin: 3% 0 3% 2%;
  display: inline-block;
  color: #7cb429;
  min-width: 68%;
  max-width: 68%;
}

a, a:link, a:visited {
  color: #7cb429;
  padding: 1%;
}

.specs {
  background: #0a0a0a;
  color: #7cb429;
  opacity: 0.9;
  border: 5px solid #7cb429;
  border-radius: 15px;
  display: inline-block;
  width: 100%;
  height: 300px;
}

.terminal {
  background: #0a0a0a;
  color: #7cb429;
  opacity: 0.9;
  border: 5px solid #9acd32;
  border-radius: 15px;
  display: inline-block;
  margin: 3% 0 0 0;
  width: 80%;
  height: auto;
  min-height: 1000px;
  padding: 6%;

}

h1, h2, h3, h4, h5, h6 {
  color: #7cb429;
}

.right {
  display: inline-block;
  min-width: 20%;
  max-width: 23%;
  margin: 0 5% 0 2%;
}

.info {
  display: inline-block;
  background: #0a0a0a;
  color: #7cb429;
  opacity: 0.9;
  border: 5px solid #9acd32;
  border-radius: 15px;
  margin: 12% 0 0 0;
  width: 100%;
  height: auto;
  min-height: 583px;

}

.contact {
  display: inline-block;
  text-align: center;
  background: #0a0a0a;
  color: #7cb429;
  opacity: 0.9;
  border: 5px solid #9acd32;
  border-radius: 15px;
  padding-top: 10%;
  margin: 18% 0 0 0;
  width: 100%;
  height: 300px;
}
