
.article {
  margin-top: 5%;
}

.title {
  margin-top: 5%;
}

.article-metadata {
  font-size: 16px;
  padding-bottom: 5%;
}

.date {
  margin-right: 63%;
}

.description {
  padding-bottom: 9px;
}

.article-meat {
  margin: 9% 0 2% 0;
}
